/*  your css code here. If applicable */
body{
	background-color: rgb(250, 250, 250);
}
.wrapperNew{
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:20px;
}
.cards-wrapper{
	display:grid;
}

.cardWrapper .card{
	
}
.wrapperNew .card{
	width:200px;
	height:300px;
	padding:20px;
	border:10px solid #ccc;
	border-radius:20px;
	background-color: #fafafa;
	box-shadow: 0px 0px 10px (0, 0, 0 / 20%);
	
}
.wrapperNew .card h1{
	font-size: 36px;
	color:white;
}
.wrapperNew .card .cardDate{
	color:white;
	justify-self:end;
}
.wrapperNew .card p{
	color:white;
	font-size: 18px;
}
.wrapperNew .card:first-child{
	background-image: url('https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=600');
	background-position:center;
	background-size:100%;

}
.wrapperNew .card:nth-child(2){
	background-image: url('https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=600');
	background-position:center;
	background-size:100%;

}
.wrapperNew .card:nth-child(3){
	background-image: url('https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=600');
	background-position:center;
	background-size:100%;

}
button{
	border:none;
	border-radius:5px;
	color:white;
	background-color:grey;
	padding:5px;
}